.container{
    width: 1200px;
    margin: auto;
}
.navbar {
    background-color: #EFD345;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    width: 30px;
    height: 35px;
    display: flex;
    margin-left: 20px;
    font-size: 35px;
}

.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.hero {
    background-color: #BABD42;
    height: 200px;
    margin-top: 0%;
}

.hero h1{
    color: white;
    margin-left: 20px;
    margin-top: 0;
}
.kegiatan{
    margin-right: 30px;
    margin-left: 30px;
}

.hero-card ul{
    display: flex;
    justify-content: space-between;
}

.hero-card li{
    list-style: none;
    border: 1px solid white;
    background-color: white;
    width: 250px;
    height: 90px;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.content {
    background-color: #82954B;
    height: 350px;
    display: flex;
}

.project h1{
    text-align: center;
    color: black;
}
.project ul{
    margin-top: 0;
    width: 300px;
    justify-content: space-around;
    margin-right: 30px;
}

.project li{
    list-style: none;
    text-align: center;
    background-color: #EFD345;
    color: black;
    height: 35px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.profil{
    width: 1200px;
}

.profil p{
    margin-right: 50px;
}

.profil img{
    height: 150px;
    width: 800px;
    align-items: center;
  
}
.footer{
    background-color: #BABD42;
    justify-content: space-around;
    display: flex;
}

.alamat{
    width: 400px;
    height: 200px;
}
.alamat h1{
    color: rgb(15, 13, 13);
    width: 400px;
}

.alamat p{
    color: rgb(7, 6, 6);
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    height: 70px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.social-media h1{
   font-size: 20px;
   display: flex;
   margin-top: 25px;
}

.social-media img{
   height: 30px;
   width: 30px;
}